{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
{{super()}}

<div class="content">
    <h2 class="content-subhead">lopetについて</h2>
    <p>
        日本のどこかで今この瞬間にもペットが迷子になっています。<br>
        そんなペットたちと飼い主を結びつけるお手伝いがしたいと考えおります。
    </p>
    <p>
        lopetは、迷子、保護、目撃情報を集めています。<br>
        ペットが迷子になった方、またそれらを保護、目撃された方は、是非ともご登録をお願いいたします。
    </p>
    <p>
        迷子情報を扱った様々な掲示板やTwitterがありますが、それらの情報が分散していては情報の行き違いがあるかもしれません。<br>
        lopetでは、それらの情報を一箇所に集めりことを使命としております。
    </p>
    <p>
        それらの情報の収集には情報提供者の方々の協力が必要となりますので、どうかご協力をお願いいたします。
    </p>
    <p>
        ご登録方法がわからない方や、ご面倒な方には代理登録も行っておりますのでお気軽にご連絡下さい。
    </p>
</div>
{% endblock %}