{% extends 'base.html' %}

{% block title %}ログイン - {% endblock %}

{% block content %}
{{super()}}

<div class="content">
    <h2 class="content-subhead">ログイン</h2>

    <form action="" method="POST" class="pure-form pure-form-aligned signup-form">
        {% if message %}
        <div class="form-alart">{{message}}</div>
        {% endif %}

        <fieldset>
            <div class="pure-control-group">
                <label for="username">{{_('username')}}</label>
                <input id="username" type="text" name="username" maxlength="24" pattern="^[0-9A-Za-z]+$" required="required">
            </div>

            <div class="pure-control-group">
                <label for="password">{{_('password')}}</label>
                <input id="password" type="password" name="password" maxlength="24" pattern="^[0-9A-Za-z]+$" required="required">
            </div>

            <div class="pure-controls">
                <p class="form-note">※ユーザ名、パスワードは半角英数になります。</p>

                <button type="submit" class="pure-button pure-button-primary">{{_('signin')}}</button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}